  .ui-sortable { list-style-type: none; margin: 0; padding: 0; }
  .ui-sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 14px; cursor: move; }
  .ui-state-disabled { cursor: initial !important; }
  html>body .ui-sortable li { height: 1.5em; line-height: 1.2em; }
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; background-color:#fafafa; }